

@font-face {
  font-family: roboto;
  src: url(...public/Roboto-Regular.ttf);
}

[data-bs-theme="dark"] {
  background-color: #333333;
} 

body {
  margin: 0;
  font-family:  Arial, Helvetica, sans-serif !important;
  -webkit-font-smoothing: Arial, Helvetica, sans-serif !important;
  -moz-osx-font-smoothing: Arial, Helvetica, sans-serif !important;
  font-style: normal !important;
  color: white !important;
}

.overflow-container {
  overflow: hidden;
}

/*Pre Loader Section*/
.loader--section{
  width: 100%;
  height: 100vh;
  background-color: #333333;
}

.loader--section {
  display: flex;
  justify-content: center;
  align-items: center;
}



/*Navbar*/
.navbar[data-bs-theme="dark"] {
  --bs-navbar-color: white !important;
}


#navbar-section-pages {
  display: flex;
}

/*Animation Box SECTION*/
.anibox-section{
  position: absolute;
  display: flex;
  gap:5rem;
}
.animation-box {
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.8);
  animation: animate 5000ms linear infinite;
  z-index: 1;
  
}

@keyframes animate {
  0%{
      transform: scale(0) translateY(0) rotate(0);
      opacity: 1;
  }

  100%{
    transform: scale(1.3) translateY(-5rem) rotate(360deg);
    opacity: 0;
  }
}

/*HERO SECTION*/
.hero-section{
   overflow: hidden;
   height: 100vh;
   background-color: #333333;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: flex-end;
   position: relative
} 

.hero-section-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2rem;
  width: 100%;
  height: 100%;
  padding-bottom: 2rem;
  z-index: 5;
}

.hero-section-txt{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-section-txt > p{
  z-index: 5;
  display: flex;
  margin: 0;
  padding: 0;
}

.hero-section-txt > h1{
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  z-index: 5;
}

.hero-section-btn {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.hero-section-btn > a > button{
    width: 8rem;
    height: 2.5rem;
    background-color: white;
    border-width: 0;
    border-radius: 5px;
    font-weight: 700;
    z-index: 5;

}
#GIT {
 background-color: white;
 color: black;
}

#DCV {
    background-color: #4A4A4A;
    color: whitesmoke;
}

.hero-section-img-desktop{
  margin: 0px;
  padding: 0px;
  z-index: 5;
  height: 50%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.hero-section-img-desktop > img{
  display: flex;
  align-items: flex-end;
  margin: 0px;
  padding: 0px;
  height:100%;
  width: 50%;
}


@media screen and (max-width: 1200px) {
  .hero-section-img-desktop {
    padding-right: 3rem;
  }
  .hero-section-img-desktop > img{
    width: 100%;
  }

  .hero-section-btn > a > button{
    width: 8rem;
    height: 2.5rem;
    font-size: 12px;
 }

  .hero-section-txt > p{
    font-size: 10px;
  }
  
}

/*ABOUT ME SECTION*/
.about-section{
  overflow: hidden;
  height: 100vh;
  background-color: #333333;
  width: 100%;
  display: flex;
  flex-direction: row;
} 


.about-section-left-content {
  height: 100%;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative
}
.about-icon-wrapper{
  display: flex;
  background-color: none;
  width: 100%;
  height: 3.8rem;
  z-index: 5;
  border-radius: 10px;
  position: relative;
  padding-top: 2rem;
}

.about--section--icon {
   height: 100%;
   display: flex;
   align-items: center;
   gap:1.5rem;
}

.icon-button > .icon{
  margin: 0px;
  padding: 0px;
  font-size: 2.5rem;
  color: white;
}

.fb--icon {
  animation: moveUpDown 2s infinite alternate; 
}

.insta--icon {
  animation: moveUpDown 2s infinite alternate; 
  animation-delay: 0.3s;
}

.link--icon {
  animation: moveUpDown 2s infinite alternate; 
  animation-delay: 0.6s;
}

.git--icon {
  animation: moveUpDown 2s infinite alternate; 
  animation-delay: 0.9s;
}

@keyframes moveUpDown {
  0% {
      transform: translateY(0);
  }
  100% {
      color: aquamarine;
      transform: translateY(15px);
  }
}
.about-section-image-desktop{
  position: relative;
  z-index: 3;
}

.about-section-image-desktop > div > img{
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: clamp(35rem, 53vw, 60rem);
  position: relative;
  z-index: 3;
}

.about-section-right-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.about-section-right-content > h1 {
  font-size: 12rem;
  font-weight: 700;
  margin: 0px;
  position: absolute;
  padding: 0px 20px 0 0;
  opacity: 0.4;
  display: flex;
  justify-content: flex-end;
  letter-spacing: -5px;
  width: 100%;
  top: 4rem;
  z-index: 5;
}

.about-section-text {
  width: 70%;
}

.about-section-text > div > h1{
  font-size: 3rem;
  font-weight: 600;
  opacity: 0.8;
  margin: 0px;
  padding: 0px 0 2rem 0;
  position: relative;
}

.about-section-text > div > h2{
  font-weight: 600;
  margin: 0px;
  padding: 0 0 1rem 0;
}


.about-section-text > div > p{
  font-size: 15px;
  font-weight: 400;
}

.about-section-btn {
  width: 100%;
  z-index: 5;
  position: relative;
  display: flex;
  gap: 1rem;
}

.about-section-btn > a > button{
  width: 8rem;
  height: 2.5rem;
  background-color: #4A4A4A;
  border-width: 0;
  border-radius: 5px;
  font-weight: 700;
  color: white;
}

.about-section-btn > button{
  width: 9rem;
  height: 2.5rem;
  background-color: white;
  border-width: 0;
  border-radius: 5px;
  font-weight: 700;
  color: #333333;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

}


@media screen and (max-width: 1000px) {

  .about-section{
    overflow-x: hidden;
    display: flex;
    flex-direction: column-reverse;
  } 

  .about-section-left-content {
    height: 60%;
  }

  .about-section-image-desktop{
    display: flex;    
    justify-content: center;
    margin: 0;
  }

  .about-section-image-desktop > img{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 80%;
    position: relative;
    z-index: 3;
  }


  .about-icon-wrapper{
    background-color: none;
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
  }

  .about--section--icon {
   padding-right:0rem ;
  }

  .icon-button > .icon{
    margin: 0px;
    padding: 0px;
    font-size: 2rem;
    color: white;
  }

  .about-section-right-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }

  .about-section-right-content > h1{
    display: none;
  }

  .about-section-text {
    width: 70%;
    text-align: center;


  }.about-section-text > h1{
    font-size: 30px;
    padding: 0px 0 10px 0;
    opacity: 0.8;
  }

  .about-section-text > h2{
    font-size: 20px;
    padding: 0px 0 5px 0;
  }

  .about-section-text > p{
    font-size: 12px;
  }

  .about-section-btn {
    align-items: center;
    justify-content: center;
  }

  .about-section-btn > a > button{
    width: 6rem;
    height: 2rem;
    background-color: #4A4A4A;
    border-width: 0;
    border-radius: 5px;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
  }


  .about-section-btn > button{
    width: 8rem;
    height: 2rem;
    border-width: 0;
    border-radius: 5px;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
  }

}

/*SKILLS SECTION*/
.skills-section{
  overflow: hidden;
  height: 100vh;
  background-color: #333333;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  flex-direction: column;
} 

.skills-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background-color: none;
  color: white;
  padding-top: 5rem;
}

.scroll-down {
 width: 100%;
 display: flex;
 position: relative;
 justify-content: flex-end;
 padding-right: 5rem;
 top: 50px;
}

.carousel-indicators {
  top:0;
}

.skills-section-image {
  height: 100%;
  overflow: hidden;
}

.skills-section-image > img {
  height: 100%;
  width: 100%;
}

.skills-section-text{
  width: 30%;
  padding: 0 0 0 4rem;
  display: flex;
  flex-direction: column;
}

.skills-section-text > h3 {
  font-weight: 700;
  font-size: 3rem;
}
.skills-icon-wrapper {
  display: flex;
  gap: 1rem;
  
}
.skills-icon {
  font-size: 2rem;
}

@media screen and (max-width: 1000px) {

  .skills-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: none;
  color: white;
  padding-top: 3rem 0 0 0;
  margin: 0;
  }

  .skills-section-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .skills-section-image > img {
    height: 80%;
    width: 70%;
  }

  .skills-section-text{
    width: 80%;
    padding: 2rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .skills-section-text > h3 {
    font-weight: 700;
    font-size: 28px;
  }

  .skills-section-text > p {
    font-size: 13px;
  }

  .skills-icon {
    font-size: 1.5rem;
  }
}

/* WORKS HEADER SECTION*/
.works-header-section {
  width: 100%;
  height: 25vh;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333333;
  overflow: hidden;
}

.works-header-section > div > h1 {
  font-size: 5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
}

.works-header-section > div >p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* WORKS SECTION*/
.works-section {
    height: 100%;
    width: 100%;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    padding: 5rem;
}

.visit-site{
  font-size: 12px;
}

.work-content-text > p {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.content-left{
  width: 60%;
}

.works-content-img {
   display: flex;
   flex-direction: row;
   gap: 1rem;
   font-size: 2rem;
}

.works-content-img > a > img {
  filter: drop-shadow(-10px 10px 5px rgba(0, 0, 0, 0.2));
  transition: all 300ms;
  height: 100%;
  width: 100%;
}

.works-content-img > a > img:hover {
  transform: scale(1.1);
}

.content-right {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media screen and (max-width: 1000px) {
    .works-header-section > h1 {
      font-size: 3rem;
    }

    .works-header-section > p {
      font-size: 12px;
    }

    .works-section {
      gap: 2rem;
    }

    .works-content {
       align-items: center;
    }
  
}


/* CONTACTS SECTION*/
.contact-section {
  width: 100%;
  height: 100vh;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem 0 0 0;
}
.contact-section-left {
   display: flex;
   flex-direction:column;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.contact-section-animation{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}  

.contact-section-text > h1 {
  color: #333333;
  font-weight: 800;
  margin: 0;
}
.contact-section-text {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.contact-section-text > p {
  color: #333333;
  margin: 0;
}

.contact-section-right > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.contact-section-right > form > input {
  width: 20rem;
  height: 40px;
  border-radius: 5px;
  border-width: 0;
  text-indent: 5px;
  box-shadow: 0px 2px 5px 1px gray;
}

.contact-section-right > input::placeholder {
  font-size: small;
}

.contact-section-right > textarea::placeholder {
  font-size: smaller;
}

.contact-section-right > form > textarea {
  width: 20rem;
  height:6rem;
  border-width: 0;
  outline: none;
  box-shadow: 0px 2px 5px 1px gray;
  text-indent: 5px;
}

.contact-send-btn {
  width: 20rem;
  height: 2rem;
  border-width: 0;
  background-color: #333333;
  color: white;
  border-radius: 5px;

}

.contact-section-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  padding-top: 2rem;
}
.contact-icon {
  display: flex;
  flex-direction: row;
  color: #333333;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  gap:5px;
}

.contact-icon > p {
  font-size: 15px;
  margin: 0 auto;
  padding: 0 auto;
}

@media screen and (max-width: 1000px) {
  .contact-section-text {
    padding-bottom: 2rem;
  }
  
}


/*FOOTER SECTION*/

.footer-section{
  background-color: whitesmoke;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-section-line {
   width: 90%;
   height: 2px;
   background-color: #333333;
}

.footer-section-content {
  padding: 5px 0 0 0;
  width: 88%;
  display: flex;
  flex-direction: row;
  color: #333333;
  gap: 1rem;
  justify-content: flex-end;
  font-size: 13px;
}






